<%= render 'start' %>

<%= render 'addnew' %>

<ul class="nav nav-tabs">
  <li role="presentation">
    <%= link_to 'All', tasks_path %>
  </li>

  <% @tasktypes.each do |tasktype| %>
      <li role="presentation">
        <%= link_to "#{tasktype.title}", tasks_path(tasktype) %>
      </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-2">
        <strong>Status</strong>
      </div>
      <div class="col-lg-4">
        <strong>Title</strong>
      </div>
      <div class="col-lg-3">
        <strong>Deadline</strong>
      </div>
      <div class="col-lg-3">
        <strong>Actions</strong>
      </div>
     </div>
   </li>

  <% @tasks.each do |task| %>
    <li class="list-group-item task" id="<%= task.id %>">
      <div class="row task-list" style="display: block;">
        <div class="col-lg-2">
          <%= task.task_type.title %>
        </div>
        <div class="col-lg-4">
          <%= task.title %>
        </div>
        <div class="col-lg-3">
          <% if !task.deadline.nil? %>
            <%= task.deadline.to_time.strftime("%Y %B %d") %>
            <% else %>
            -
          <% end %>
        </div>
        <div class="col-lg-3">
          <button class="edit-button btn btn-default" type="button" style="float: left;">Edit</button>
          <div style="width: auto; float:left;">
            <%= button_to 'Destroy', task_path(task),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        :class => "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="row task-edit" style="display: none;">
        <%= form_for task, url: task_path(task), method: :patch do |f|  %>
          <div class="col-lg-2">
            <%= f.collection_select :task_type_id, TaskType.all, :id, :title, :include_blank => false %>
          </div>
          <div class="col-lg-4">
            <%= f.text_field :title, :class => "form-control" %>
          </div>
          <div class="col-lg-3">
            <%= f.date_select :deadline, :class => "form-control" %>
          </div>
          <div class="col-lg-3">
            <%= f.submit 'Save', :class => "save-button btn btn-default" %>
            <button class="edit-button btn btn-default" type="button">Cancel</button>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
